@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
   width: 100vw;
   height: auto;
   background: linear-gradient(100deg,#00ffff,#080885,#010116);
   display: flex;
   flex-direction: column;
   align-items: center;
}

header {
    width: 100%;
    height: 10rem;
    background-image: url("./img_espacio.jpg");
    background-size: contain;
}

h1 {
    font-size: 5rem;
    text-shadow: 0 0 15px  #0f406e;
    color: #00ffff;
    font-family: 'Alkatra', cursive;
    animation: title 1s infinite;
}

@keyframes title {
    50% {
        text-shadow: 0 0 15px #00ffff; 
        color: #ece934;
    }
}

hr {
    width: 90%;
    height: 1rem;
}

main {
    margin-top: 1rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.finder-character{
     width: 30rem;
     height: 1rem;
     font-size: 1.5rem;
     border-radius: 20px;
     border:double 5px rgb(94, 107, 223);
     background-color: #e2dcd5;
     padding: 1rem;
     color:#080885;
     font-family: 'Alkatra', cursive;
}

.container-cards{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .card-character {
    width: 20rem;
    height: 10rem;
    background-color: #96cdd4;
    border: groove 5px #454141;
    margin: 1rem;
    display: flex;
  }
  .card-character > img {
    width: 50%;
    height: 100%;
  }
  
  .card-character > .description.card {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .description.card > h2 {
    text-align: center;
    color: #cde49f;
    text-shadow: 0 0  15px #c0e2c0;
  }
  
  .description.card > p {
    font-size: 1.5rem;
    text-align: center;
    color: #74dcb9;
    margin-top: 2rem;
  }
  
  footer {
    width: 100%;
    height: 3rem;
    background-color: #e7d7df;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
  }
  
  footer > a {
    color: #070707;
  }